# **Import Library and Dataset**

In [64]:
import pandas as pd                         # Import Pandas
data = pd.read_csv("Diamonds.csv")          # Import dataset

In [65]:
pd.read_csv("Diamonds.csv")          # Import dataset

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [66]:
pd.read_csv("Diamonds.csv")          # Import dataset

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

# **Checking Missing Data**

In [67]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  object
 2   color    53940 non-null  object
 3   clarity  53940 non-null  object
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 4.1+ MB

In [68]:
    # Check data info

In [69]:
data.head(10)

   carat        cut color clarity  depth  table  price     x     y     z
0   0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
5   0.24  Very Good     J    VVS2   62.8   57.0    336  3.94  3.96  2.48
6   0.24  Very Good     I    VVS1   62.3   57.0    336  3.95  3.98  2.47
7   0.26  Very Good     H     SI1   61.9   55.0    337  4.07  4.11  2.53
8   0.22       Fair     E     VS2   65.1   61.0    337  3.87  3.78  2.49
9   0.23  Very Good     H     VS1   59.4   61.0    338  4.00  4.05  2.39

# **Data Cleaning**

In [70]:
new_colors = {"D": 0, "E": 1,"F": 2,"G": 3,"H": 4,"I": 5,"J": 6}        # Create colors dictoinary for map key and value
data["color"].replace(new_colors, inplace=True)                         # Map 
data.head()

   carat      cut  color clarity  depth  table  price     x     y     z
0   0.23    Ideal      1     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium      1     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good      1     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium      5     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good      6     SI2   63.3   58.0    335  4.34  4.35  2.75

In [71]:
new_clarity = {"FL":0,  "IF": 1, "VVS1": 2, "VVS2": 3, "VS1": 4, "VS2": 5, "SI1": 6, "SI2": 7, "SI3": 8, "I1": 9}
data["clarity"].replace(new_clarity, inplace=True)
data.head()

   carat      cut  color  clarity  depth  table  price     x     y     z
0   0.23    Ideal      1        7   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium      1        6   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good      1        4   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium      5        5   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good      6        7   63.3   58.0    335  4.34  4.35  2.75

In [72]:
new_cut = {"Ideal": 0, "Premium": 1, "Very Good": 2, "Good": 3, "Fair": 4}
data["cut"] .replace(new_cut, inplace=True)
data.head()

   carat  cut  color  clarity  depth  table  price     x     y     z
0   0.23    0      1        7   61.5   55.0    326  3.95  3.98  2.43
1   0.21    1      1        6   59.8   61.0    326  3.89  3.84  2.31
2   0.23    3      1        4   56.9   65.0    327  4.05  4.07  2.31
3   0.29    1      5        5   62.4   58.0    334  4.20  4.23  2.63
4   0.31    3      6        7   63.3   58.0    335  4.34  4.35  2.75

In [73]:
data

       carat  cut  color  clarity  depth  table  price     x     y     z
0       0.23    0      1        7   61.5   55.0    326  3.95  3.98  2.43
1       0.21    1      1        6   59.8   61.0    326  3.89  3.84  2.31
2       0.23    3      1        4   56.9   65.0    327  4.05  4.07  2.31
3       0.29    1      5        5   62.4   58.0    334  4.20  4.23  2.63
4       0.31    3      6        7   63.3   58.0    335  4.34  4.35  2.75
...      ...  ...    ...      ...    ...    ...    ...   ...   ...   ...
53935   0.72    0      0        6   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72    3      0        6   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70    2      0        6   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    1      4        7   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75    0      0        7   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

# **Drop Row**

# Drop X

In [74]:
dropList = list(data[(data["x"] < 2)  | (data["x"] > 6)].index)
data = data.drop(dropList)

outlier = list(data[((data["x"] < 5) & (data["price"] > 1500))].index)
data = data.drop(outlier)

outlier = list(data[((data["x"] > 5.4) & (data["price"] < 1500))].index)
data = data.drop(outlier)

outlier = list(data[((data["x"] < 4.1) & (data["price"] > 900))].index)
data = data.drop(outlier)

# Drop Y

In [75]:
dropList = list(data[data["y"] >= 5.8].index)
data = data.drop(dropList)

outlier = list(data[((data["y"] < 2.4) & (data["price"] > 1500))].index)
data = data.drop(outlier)

# Drop Z

In [76]:
dropList = list(data[(data["z"] < 2.25) | (data["z"] > 3.6)].index)
data = data.drop(dropList)

outlier = list(data[((data["z"] < 2.4) & (data["price"] > 1500))].index)
data = data.drop(outlier)

outlier = list(data[((data["z"] < 0.3) & (data["price"] > 1000))].index)
data = data.drop(outlier)

outlier = list(data[((data["z"] < 0.3) & (data["price"] > 1000))].index)
data = data.drop(outlier)

# Drop Carat

In [77]:
dropList = list(data[data["carat"] >= 0.75].index)
data = data.drop(dropList)

outlier = list(data[((data["carat"] < 0.3) & (data["price"] > 1000))].index)
data = data.drop(outlier)

outlier = list(data[((data["carat"] > 0.5) & (data["price"] < 1000))].index)
data = data.drop(outlier)

# Drop Table

In [78]:
dropList = list(data[(data["table"] < 50) | (data["table"] > 66)].index)
data = data.drop(dropList)

# Drop Depth

In [79]:
dropList = list(data[(data["depth"] < 59) | (data["depth"] > 64)].index)
data = data.drop(dropList)

# Drop Price

In [80]:
sd=data["price"].std()
price_mean=data["price"].mean()
price_med=data["price"].median()
print("S.D. =",sd)
print("Mean =",price_mean)
print("Med =",price_med)

z3=(1*sd)+price_mean
print("Z3 =",z3)

S.D. = 746.4696018713415
Mean = 1253.319239835003
Med = 978.0
Z3 = 1999.7888417063446

In [81]:
dropList = list(data[data["price"] > z3].index)
data = data.drop(dropList)

In [82]:
# dropList = list(data[data["price"] > 1500].index)
# data = data.drop(dropList)

# **Export Cleaned Data**

In [83]:
data.to_csv("cleanDiamods.csv")

In [84]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22687 entries, 0 to 53639
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    22687 non-null  float64
 1   cut      22687 non-null  int64
 2   color    22687 non-null  int64
 3   clarity  22687 non-null  int64
 4   depth    22687 non-null  float64
 5   table    22687 non-null  float64
 6   price    22687 non-null  int64
 7   x        22687 non-null  float64
 8   y        22687 non-null  float64
 9   z        22687 non-null  float64
dtypes: float64(6), int64(4)
memory usage: 1.9 MB